@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background: #FBFDFF;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    min-height: 18px;
    min-width: 18px;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    display: none;
    background: transparent;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    cursor: pointer;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    display: none;
    background: transparent;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #8A8886 !important;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    border-radius: 9px;
    border: solid 6px transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}